<div class="container">
  <table>
    <tr>
      <td>Name:</td>
      <td>Chuan Yu</td>
    </tr>
    <tr>
      <td>Education:</td>
      <td>New Jersey Institute of Technology</td>
    </tr>
    <tr>
      <td>Skill Set:</td>
      <td>Java,Android,Ruby on Rails,Objective-c,Swift</td>
    </tr>
  </table>
</div>
