
<div class="home-banner" data-stretch="<%= image_url 'home-banner-bg.jpg' %>">
  <div class="banner-inner container clearfix">
  <h1>It's Party Time!</h1>
  <p class="subheading">Let's hang out to talk about code!</p>
  <div class="home-banner-links">
    <%= link_to 'Publish new topic', '/issues/new', class: 'banner-btn btn' %>
  </div>
</div>
</div>
<div class="issue-list-header">
  <div class="container clearfix">
    <h1 class="issue-list-heading">All Topics...</h1>
  </div>
</div>
<div class="container clearfix">
  <%= render partial: 'issue_list', locals: { issues: @issues } %>
</div>
<script>
  $('.home-banner').anystretch();
</script>